*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.audiophile{
    background-color: rgba(0, 0, 0, 0.904);
}


.nav-link:hover{
  color: orange !important;
}
.container3{
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.904);
}
.pho{
    padding-top: 100px;
}
.xx{
    margin-top: 60px;
    border-radius: 10px;
}
.nww{
    color: orangered;
}
.pinnacle{
    margin-left: 120px;
    margin-top: 170px;
}
.box8{
    height: 30vh;
    align-items: center;
}
.dio{
    margin-left: 190px;
 }
.se{
    background-color: rgba(255, 68, 0, 0.808);
    padding: 10px 25px;
    border: none;
    color: white;
}
.car{
    margin-right: 220px;
}
.se:hover{
    background-color: white;
    color: black;
    border: 4px solid rgba(255, 68, 0, 0.808);
}
.cision{
    width: 90%;
}
.gold{
    width: 90%;
}
.dard{
   margin-top: 170px; 
}
.mak{
    border-radius: 10px;
}
.joy{
    width: 80%;
}
.xxh{
    width: 30%;
}
.spec{
    margin-left: 40px;
    margin-top: 170px;
}
.card1{
    width: 100%;
    height: 22vh;
    background-color: rgba(199, 196, 196, 0.356);
    margin-top: 100px;
    border-radius: 10px;
}
.ph{
    text-align: center;
    padding-top: 80px;
}
.hed{
  position: absolute;
  top: 20px;
  margin-left: 100px;
  
}
.shop:hover{
    color: orange;
}
.shop{
    margin-left: 160px;
}
.card2{
    width: 100%;
    height: 22vh;
    background-color: rgba(199, 196, 196, 0.356);
    margin-top: 100px;
    border-radius: 10px; 
}
.had{
 position: absolute;
  top: 20px;
  margin-left: 100px;
}
.ty{
    text-align: center;
    padding-top: 80px; 
}
.card3{
    width: 100%;
    height: 22vh;
    background-color: rgba(199, 196, 196, 0.356);
    margin-top: 100px;
    border-radius: 10px;  
}
.hid{
    position: absolute;
    top: 20px;
    margin-left: 80px;  
}
.tp{
    text-align: center;
    padding-top: 80px; 
}
.bet{
    color: rgba(199, 60, 9, 0.726);
}
.best{
    border-radius: 5px;
    margin-top: 120px;
    height: 80%;
}
.gear{
   margin-top: 240px; 

}
.container4{
    background-color: black;
    height: 50vh;
    margin-top: 200px;
}
.aud{
    width: 78%;
    margin-left: 150px;
    margin-top: 70px;
}
.phile{
    margin-top: 50px;
}
.link:hover{
    color: orange !important;
}
.links{
    margin-top: 90px;
    margin-left: 90px;
}
.logo{
    margin-top: 170px;
    margin-left: -80px;
}
.fa-facebook:hover{
    color: orange !important;
}
.fa-twitter:hover{
    color: orange !important;
}
.fa-instagram:hover{
    color: orange !important;
}
.bt{
    background-color: orange;
    width: 10%;
    border: none;
    height: 5px;
    margin-left: 150px;
}






















































@media (max-width:576px) {
    .audiophile{
        background-color: rgba(0, 0, 0, 0.904);
        width: 100%;
        height: 25vh;
    }
    .dio{
        font-size: 40px;
        margin-left: 30px;
        margin-top: -40px;
    }
    .nav-link{
        font-size: 10px;
    }
    .navv{
       margin-left: -70px;
       margin-top: -40px;
    }
    .pho{
        padding-top: 60px;
    } 
    .car{
        margin-right: 220px;
    }
    .box8{
        height: 24vh;
        align-items: center;
        width: 70%;
        margin-left: 5px;
    }
    .container3{
        height: 20vh;
        background-color: rgba(0, 0, 0, 0.904);
        width:100% ;
    }
    .doct{
        flex-direction: column;
    }
    .xx{
        margin-top: 60px;
        border-radius: 10px;
        margin-left: 3px;
        width: 100%;
    }
    .nww{
        color: orangered;
        margin-left: 150px;
    }
    .ii{
        margin-left: 95px;
        width: 120%;
    }
    .pinnacle{
        margin-left: -50px;
        margin-top: 170px;
    }
    .se{
        background-color: rgba(255, 68, 0, 0.808);
        padding: 10px 25px;
        border: none;
        color: white;
        margin-left: 140px;
    }
    .se:hover{
        background-color: white;
        color: black;
        border: 4px solid rgba(255, 68, 0, 0.808);
    }
    .cision{
        width: 100%;
        text-align: center;
        font-size: 20px;
        margin-left: 50px;
    }
    .ofr{
        flex-direction: column;
    }
    .gold{
        font-size: 20px;
        text-align: center;
        margin-left: 135px;
    }
    .si{
        background-color: rgba(255, 68, 0, 0.808);
        width: 50%;
        border: none;
        color: white;
        margin-left: 210px;

    }
    .dard{
       margin-top:-360px; 
       margin-left: -120px;
       width: 100%;
       text-align: center;
    }
    .dard h1{
        width: 100%;
        margin-left: 120px;
    }
    .mak{
        border-radius: 10px;
        margin-left: 5px;
        margin-top: 90px;
        width: 100%;
    }
    .sen{
        margin-left: 80px;
        background-color: rgba(255, 68, 0, 0.808);
        width: 50%;
        border: none;
        color: white;
    }
    .joy{
        width: 120%;
        font-size: 20px;
        text-align: center;
        margin-left: -40px;
    }
    .xxhh{
        width: 30%;
        margin-top: 600px;
        margin-left: 120px;
    }
    .xxh{
        margin-left: 40px;
        text-align: center;
        width: 80%;
    }
    .spec{
        margin-left: -370px;
        padding-top: 380px;
    }
    .mek{
        width: 350px;
        height: 40%;
        margin-left: 10px;
    }
    .headph{
        flex-direction: column;
        margin-left: 100px;
    }
    .card1{
        width: 95%;
        height: 21vh;
        background-color: rgba(199, 196, 196, 0.356);
        margin-top: 180px;
        border-radius: 10px;
        margin-left: -90px;
    }
    .ph{
        text-align: center;
        padding-top: 80px;
        font-size: 20px;
    }
    .hed{
      position: absolute;
      top: 120px;
      margin-left: 100px;
      width: 40%;
      
    }
    .shop:hover{
        color: orange;
    }
    .shop{
        margin-left: 130px;
        font-size: 30px;
    }
    .card2{
        width: 95%;
        height: 21vh;
        background-color: rgba(199, 196, 196, 0.356);
        margin-top: 140px;
        border-radius: 10px; 
        margin-left: -90px;
    }
    .had{
     position: absolute;
      top: 80px;
      margin-left: 100px;
      width: 40%;
    }
    .ty{
        text-align: center;
        padding-top: 80px; 
        font-size: 25px;
    }
    .card3{
        width: 95%;
        height: 21vh;
        background-color: rgba(199, 196, 196, 0.356);
        margin-top: 100px;
        border-radius: 10px;  
        margin-left: -90px;
    }
    .hid{
        position: absolute;
        top: 60px;
        margin-left: 100px; 
        width: 40%; 
    }
    .tp{
        text-align: center;
        padding-top: 80px; 
        font-size: 30px;
    }
    .gear{
        margin-top: 90px;
        width: 120%; 
        font-size: 15px;
        margin-left: 10px;
        text-align: center;
    }
    .gear p{
        margin-left: -55px;
        width: 80%;
    }
    .ger h1{
        font-size: 30px;
        margin-left:-90px;
        width: 100%;
        text-align: center;
    }
   .bt{
         background-color: orange;
         width: 10%;
         border: none;
         height: 5px;
         margin-left: 150px;
     }
     .speak{
         margin-left: 160px;
     }
    .best{
        border-radius: 10px;
        width: 90%;
        height: 40vh;
        margin-top: 50px;
        margin-left: 10px;
    }
    .ger{
        flex-direction: column;
    } 
    
    .container4{
        background-color: black;
        height: 100vh;
        margin-top: 200px;
        width: 100%;
        flex-direction: column;
    }
    .bt{
        margin-left: 120px;
        width: 30%;
    }
    .au{
        font-size: 35px;
        margin-left: -50px;
    }
    .aud{
        width: 78%;
        margin-left: 140px;
        margin-top: 70px;
    }
    .phile{
        margin-top: 50px;
        width: 100%;
        margin-left: -100px;
        text-align: center;
    }
    .cp{
        margin-left: -100px;
    }
    link{
        margin-top: 5px;
        text-align: center;
    }
    .er{
        margin-left: -30px;
    }
    .ssp{
        margin-left: -10px;
    }
    .hd{
        margin-left: -40px;
    }
    .hm{
        margin-left: 20px;
    }
    .link:hover{
        color: orange !important;
    }
    .links{
        margin-top: 30px;
        margin-left: 100px;
        flex-direction: column;
        font-size: 30px;
    }
    .logo{
        margin-top: 100px;
        margin-left: 130px;
    
    }
    
}
